@{
  Layout = "_Layout";
}


<h1>Welcome to the University-registrar List!</h1>
<p>@Html.ActionLink("See all students", "Index", "Students")</p>
<p>@Html.ActionLink("See all Courses", "Index", "Courses")</p>
<p>@Html.ActionLink("See all Departments", "Index", "Departments")</p>